* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    width: 10em;
    margin: 2.5em;
}

#text {
    font-family: sans-serif;
    margin-top: 5em;
}

.box {
    height: 2em;
    border: 1px solid black;
    background-color: teal;
    display: flex;
    align-items: center;
    padding: 1em;
    transition: all 0.7s;
    cursor: pointer;
}

